<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SLD_v1._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="dbAdelanteEntities" connectionString="metadata=res://*/Entities.AdelanteDb.csdl|res://*/Entities.AdelanteDb.ssdl|res://*/Entities.AdelanteDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IB4LJSG\SQLEXPRESS;initial catalog=dbAdelante;persist security info=True;user id=sa;password=sql3adm8;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="adelanteContext" connectionString="metadata=res://*/Entities.adelanteContext.csdl|res://*/Entities.adelanteContext.ssdl|res://*/Entities.adelanteContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IB4LJSG\SQLEXPRESS;initial catalog=dbAdelante;persist security info=True;user id=sa;password=sql3adm8;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <SLD_v1._0.Properties.Settings>
      <setting name="Conexion" serializeAs="String">
        <value>Data Source=DESKTOP-IB4LJSG\SQLEXPRESS;Initial Catalog=SensaLaserDB;Persist Security Info=True;User ID=sa;Password=sql3adm8</value>
      </setting>
      <setting name="Sesion" serializeAs="String">
        <value>False</value>
      </setting>
    </SLD_v1._0.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>